.header {
  background-color: $c-white;
  height: 155px;
  display: flex;
  align-items: center;
  margin: 0 24px;
  font-family: $f-default;

  @media screen and (min-width: 768px) {
    height: 80px;
  }

  &-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-direction: column;

    @media screen and (min-width: 768px) {
      flex-direction: row;
    }

    &--left, &--right {
      ul {
        align-items: center;
        display: flex;
        flex-direction: column;
        @media screen and (min-width: 768px) {
          flex-direction: row;
        }
        li {
          @media screen and (min-width: 768px) {
            margin-right: 32px;
          }
          a {
            color: $c-black;
            font-weight: 500;
          }
        }
      }
    }

    &--right {
      display: flex;
      justify-content: center;

      @media screen and (min-width: 768px) {
        justify-content: space-between;
      }
      @media screen and (min-width: 1024px) {
        width: 27%;
      }
    }
  }

  form {
    position: relative;
  }

  &-searchBox {
    border: {
      color: $c-gray;
      radius: 24px;
      style: solid;
      width: 1px;
    }
    color: $c-black;
    font: {
      size: 16px;
      weight: 500;
    } 
    width: 240px;
    padding: 0 16px;
    height: 40px;
    position: relative;
    z-index: 40;

    &::placeholder {
      color: $c-pink-jussi;
    }
    &--svg {
      position: absolute;
      right: 12px;
      top: 7px;
      z-index: 40;
    }

    &--overlay {
      background: {
        color: $c-black;
      }
      display: none;
      left: 0;
      opacity: 0.5;
      position: fixed;
      top: 0;
      z-index: 1;
      width: 100%;
      height: 100%;

      &.active {
        display: block;
      }
    }
  }

  &-result {
    background-color: $c-white;
    position: absolute;
    max-height: 400px;
    overflow: auto;
    padding: 16px;
    width: 90%;
    right: 18px;
    z-index: 40;

    @media screen and (min-width: 768px) {
      width: 40%;
    }

    &--list {
      img {
        width: 100%;
        max-width: 300px;
      }
    }

    &.hidden {
      opacity: 0;
    }
  }

}